# Ignore build directory
cmake-build-debug/

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore results and temporary files
results/
*.tmp
*.bak
